inicio/first-vue-cli-app/node_modules/
inicio/first-vue-cli-app/dist/
inicio/first-vue-cli-app/npm-debug.log
inicio/first-vue-cli-app/yarn-error.log

first-sys-poster-shop/node_modules
first-sys-poster-shop/.env

vuejs-cinema/node_modules/
vuejs-cinema/npm-debug.log
vuejs-cinema/.env
vuejs-cinema/dist


# Editor directories and files
*.DS_Store
*.idea
*.suo
*.ntvs*
*.njsproj
*.sln

