*.DS_Store
inicio/first-vue-cli-app/node_modules/
inicio/first-vue-cli-app/dist/
inicio/first-vue-cli-app/npm-debug.log
inicio/first-vue-cli-app/yarn-error.log

first-sys-poster-shop/node_modules



# Editor directories and files
*.idea
*.suo
*.ntvs*
*.njsproj
*.sln

