<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="referrer" content="never" />
    <title>Vue.js Poster Shop</title>
    <link rel="icon" href="public/favicon.ico" type="image/x-icon">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato|Montserrat" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="public/style.css">
</head>
<body>
<div id="app" v-cloak>
    <div class="header">
        <h1>Vue.js Poster Store</h1>
        <form class="searchbar" @submit.prevent="searchObj">
            <input type="text" v-model="search" placeholder="search for posters">
            <input type="submit" value="search" class="btn">
        </form>
    </div>
    <div class="main">
        <div class="products">
            <div class="search-results" v-if="!loading">
                Mostrando de {{paginateInfos.init+1}} à {{paginateInfos.ending}} resultados do total de {{paginateInfos.total}} para o termo {{lastSearch}}
                <ul>
                    <li v-for="num_page in numberPagesArray" @click="paginateSearch(num_page*LIMIT, lastSearch)" v-text="num_page+1"></li>
                </ul>
            </div>
            <div v-else>
                <img src="public/ajax-loader.gif" alt="">
            </div>
            <div class="product" v-for="item in items" :key="item.id">
                <div>
                    <div class="product-image">
                        <img :src="item.link"> <!-- colocar src="{{item.link}}" não funfa pq o html e o vue ñ vão se conversar se vc não falar q o attr src deve ouvir o vue (bind) -->
                    </div>
                </div>
                <div>
                    <h4 clas="product-title">{{item.title}}</h4>
                    <p>Preço: {{item.price | formatPrice}}</p>
                    <button @click="addToChart(item.id)" class="add-to-cart">adicionar ao carrinho</button>
                </div>
            </div>
        </div>
        <div class="cart">
            <h2>Shopping Cart</h2>
            <div v-if="cart.length>0">
                <ul>
                    <li class="cart-item" v-for="item in cart">
                        <div class="item-title">{{item.title}}</div>
                        <span class="item-qty">{{item.price | formatPrice}} x {{item.quantity}}</span>
                        <button class="btn" @click="increment(item)">+</button>
                        <button class="btn" @click="decrement(item)">-</button>
                    </li>
                </ul>
                Total: {{total | formatPrice}}
            </div>
            <div class="empty-cart" v-else>
                Nenhum item no carrinho
            </div>
        </div>
    </div>
</div>

<!-- Scripts -->
<script src="/reload/reload.js"></script>
<script src="node_modules/vue/dist/vue.js"></script>
<script src="node_modules/axios/dist/axios.js"></script>
<script type="text/javascript" src="public/script.js"></script>

</body>
</html>
